//ESTILOS MENU
.navbar{
	background-color: $rosado;
	margin: 0;
	padding: 0 15%;
	top: 10px;
}

.navbar__menu{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	&__item{
		list-style: none;
		padding: 10px;
		&--img-profile{
			border-radius: 50%;
			width: 60px;
			border: 2px solid whitesmoke;
			background-color: $gris;
		}
		&--fondoAzul{
			border-radius: 20px;
			background-color: $azul;
		}
		i{
			padding: 0 5px;
		}
		a{
			color: white;
			text-decoration: none;
		}
		
	}
}
.perfil{
	background-color: $azul;
	margin-top: -24px;
	color: white;


	list-style: none;
	padding: 10px;
	&--img-profile{
		border-radius: 50%;
		width: 60px;
		border: 2px solid whitesmoke;
		background-color: $gris;
	}
	&--fondoAzul{
		border-radius: 20px;
		background-color: $azul;
	}
	i{
		

	}

